

body {
  background-color: #95E1FF;
  font-family: sans-serif;
  color: black;
}

div {
  background-color: lightyellow;
  border: black 1px solid;
  padding: 10px 30px;
  margin: 10px;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

div.enero table {
  border-collapse: collapse;
  border: none;
  text-align: center;
}

div.enero caption {
  
  font-weight: bold;
  letter-spacing: 5px;
}

div.enero td {
  width: 3em;
  border-left: none;
  border-right: none;
}

div.enero th {
  width: 3em;
  border-left: none;
  border-right: none;
  border-top: none;
}

div.febrero table {
  border: none;
  border-collapse: collapse;
  text-align: right;
}
div.febrero caption {
  font-weight: bold;
  text-align: right;
}
div.febrero th {
  border-top: none;
  border-bottom: none;
  padding-right: 5px;
}
div.febrero td {
  border-top: none;
  border-bottom: none;
  font-size: 150%;
  padding-right: 5px;
  width: 1.5em;
}

div.marzo table {
  border: black 1px solid;
  border-collapse: collapse;
  text-align: left;
}
div.marzo caption {
  
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-align: left;
}
div.marzo th {
  text-align: center;
}
div.marzo td {
  width: 4em;
  height: 4em;
  padding-left: 5px;
  font-size: 70%;
  vertical-align: top;
}
